.expectation {
    width: 31vw;
    height: 80vh;
    margin: 0 1vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 2vw;
    padding-top: 3vh;
    box-shadow: 0px 0px 8px #003366;

    position: relative;
    top: 0px;
    transition: top .2s, box-shadow .2s;

    &:nth-of-type(1) {
        margin-left: 0;
    }

    &:nth-last-of-type(1) {
        margin-right: 0;
    }

    &:hover {
        top: -3px;
        box-shadow: 0px 0px 8px 1px #003366;
    }

    .author-block {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        color: #003366;

        .underline {
            margin-top: 0.5vh;
            border-top: 2px solid #003366;
            width: 5vw;
        }
    }

    .content-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        .content {
            font-size: 16px;
            text-align: justify;
            text-justify: inter-word;
            color: #003366;

            @media (max-width: 1000px) {
                font-size: 12px;
            }

            @media (max-width: 600px) {
                font-size: 10px;
            }
        }
    }
}